<div class="contenedor-principal">
  <div class="contenedor-info">
    <h1>Elija que galpon desea administrar</h1>
    <div class="flex-container">
      <div class="item" routerLink="../ponedoras">
        <div class="item-hover ">
          <p>ponedoras</p>
        </div>
      </div>
      <div class="item " routerLinkActive="active" routerLink="../pollos">
        <div class="item-hover ">
          <p>Pollos</p>
        </div>
      </div>
      <div class="item " routerLinkActive="active" routerLink="../codornices">
        <!-- <span class="emoji">🏹</span> -->
        <div class="item-hover ">
          <p>codornices</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ----------------------------------------------------- -->