 <div class="flex-container" >
        <div class="card text-white  bg-danger mb-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="../visitantes" style="max-width: 18rem; cursor: pointer; ">
            <div class="card-body">
            <h5 class="card-title">Registrar visitantes</h5>
            </div>         
        </div>
      <div class="card text-white bg-danger mb-2" routerLinkActive="active" routerLink="../vehiculos"  [routerLinkActiveOptions]="{exact: true}" style="max-width: 18rem; cursor: pointer;  " >
        <div class="card-body">
          <h5 class="card-title">Registrar Vehiculo </h5>
        </div>
      </div>
      <router-outlet> </router-outlet>
 </div>