.navbar-lateral{
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.full-reset{
  margin: 0;
  padding: 0;
  width: 100%;
}

.font-movile-menu{
  position: fixed;
  background-color: rgba(0,0,0,.5);
  z-index: 2;
  height: 100%;
  width: 100%;
}

.container-menu-movile{
  background-color: #FEFEFE;
  height: 100% !important;
}

.container-menu-movile{
  width: 320px;
  position: relative;
  z-index: 7;
}

.logo{
  height: 55px;
  line-height: 55px;
  background-color: #c62828 ;
  opacity: 1;
  color: black;
  text-align: center;
  font-size: 21px;
  overflow: hidden;
}

.borde-login{
  border: solid 1px ;
 
 }




 .nav-lateral-list-menu{
  background-color:  #FEFEFE;
}
.nav-lateral-list-menu  ul  li{
   margin: 0;
   padding: 0;
   display: block;
}
.nav-lateral-list-menu ul li a,
.nav-lateral-list-menu ul li div{
   width: 100%;
   min-height: 45px;
   line-height: 45px;
   display: block;
   padding: 0;
   padding-left: 20px;
   font-size: 14px;
   text-decoration: none;
   color: black ;
   border-bottom: 1px solid black;
   transition: .3s all ease-in-out;
   -moz-transition: .3s all ease-in-out;
   -ms-transition: .3s all ease-in-out;
   -webkit-transition: .3s all ease-in-out;
}
.nav-lateral-list-menu i{
   font-size: 18px;
   line-height: 45px;

}
.nav-lateral-list-menu ul li a:hover{
   background-color: rgb(177, 178, 173);
}
.nav-lateral-list-menu ul li a:active,
.nav-lateral-list-menu ul li a:focus{
   outline: none;
}
.nav-lateral-list-menu ul li:first-child{
  border-top: 1px solid rgba(230,233,238,.1); 
}
.nav-lateral-list-menu ul li a span{
   transition: .3s all ease-in-out;
}
.nav-lateral-list-menu ul li a:hover span,
.mobile-menu-container ul li a:hover span{
   background-color: #333;
   color: #fff;
}
.nav-lateral-list-menu ul li ul{
   background-color: rgb(253, 251,251);
   display: none;
}
.nav-lateral-list-menu ul li div{
   cursor: pointer;
}
.nav-lateral-list-menu ul li ul li a{
   padding-left: 30px;
}

.content-page-container{
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 80%;
  background-color: #fff;
}

.content-page-container{ width: 100%; }


/*********==========Navs*/
.navbar-user-top{
  background-color:#FEFEFE ;
  height: 55px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 7;
}
.navbar-user-top > ul{
  height: 55px;
  padding: 0 15px;
  margin: 0;
}
.navbar-user-top > ul > li{
  display: inline-block;
 
  color: black;
  height: 55px;
  margin: 0 12px;
  text-align: center;
  cursor: pointer;
  line-height: 55px;
}
.navbar-user-top > ul > li:hover{
color: white;  
}
.navbar-user-top > ul > li:hover span.badge{
  background-color: #c62828;
}
/* tamaño de los icnos de cerrar sesion y ayda*/
.navbar-user-top > ul > li > i{
  font-size: 27px;
  line-height: 55px;
}
/* figura  imagen del administrador*/
.navbar-user-top > ul > figure > img{
  width: 45px;
  float: right;
  height: 45px;
  border: 2px solid #c62828;
  margin-top: 5px;
}
.navbar-user-top > ul > li{ margin: 0 10px; }

ul.nav-tabs li a:focus{ outline: none; }

/* MEDIA SCREEN */
@media (min-width: 1200px) {
  .form-container{ width: 370px; }
  .navbar-lateral{ display: inherit !important; }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .form-container{ width: 370px; }
  .navbar-lateral{ width: 25%;  display: inherit !important; }
  .content-page-container{ width: 75%; }
  .col-md-3{
    width: 50%;
  }
}

@media (max-width: 767px) {
  .navbar-lateral{
      position: fixed;
      width: 100%;
      z-index: 9999;
      background-color: transparent;
      display: none;
  }
}

/* col-sm */
@media (min-width: 768px) and (max-width: 991px) {
  .form-container{ width: 370px; }
  .navbar-lateral{ width: 30%; display: inherit !important; }
  .content-page-container{ width: 70%; }
}


