

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
<!-- INICIO DEL BODY -->

<body id="body">

    <header>
            <span class="icon__menu"> <!-- Botón hamburguesa -->
                <i class="fas fa-bars" id="btn_open"></i>
            </span>
            <span class="titulo" id="finca"><!-- Titulo principal -->
                <h1>Finca San Pablo</h1><br>
            </span>
           
        
    </header>
    <!-- BARRA LATERAL -->
    <div class="menu__side" id="menu_side">
        <div class="name__page">
            <img src="assets/img/icons/ufps.png" alt="">
        </div>
        <div class="options__menu">
        <hr>        
                <!-- ITEMS DE LA BARRA LATERAL -->
            <a class="button selected" routerLinkActive="active"  routerLink="/granjero">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a class="button" routerLinkActive="active" routerLink="ingreso"  >
                <div class="option">
                    <i class="fas fa-car" title="Visitantes"></i>
                    <h4>Control de ingreso</h4>
                </div>
            </a>

            <a class="button" routerLinkActive="active" routerLink="galpones" >
                <div class="option">
                    <i class="fas fa-tractor" title="control"></i>
                    <h4>Agregar galpones</h4>
                </div>
            </a>
            
            <a class="button" routerLinkActive="active" routerLink="admin">
                <div class="option">
                    <i class="fas fa-hammer"></i>
                    <h4>Administración de galpones</h4>
                </div>
            </a>
            <hr>
            <a class="button" routerLinkActive="active" (click)="autenticacionService.SignOut()">
                <div class="option">
                    <i class="fas fa-sign-out-alt"></i>
                    <h4>Cerrar sesión</h4>
                </div>
            </a>
             
        </div>
    </div><!-- FIN BARRA LATERAL -->
    <!-- INICIO DEL MAIN( CONTENIDO DE LOS COMPONENTES) -->
  <main id="main">  
       <router-outlet> </router-outlet>
       
  </main> 
    
</body>
<!-- FIN DEL BODY -->