<div class="container">
  <div class="card">
    <div class="header text-white" style="text-align: center;">
      <h1>
        Galpones de Pollos
        <div *ngIf="loading" class="spinner-border text-white float-end" role="status">
          <span class="sr-only">Loading...</span>
        </div>
       </h1>
    </div>
    <div class="container-2" *ngFor="let pollo of polloList |paginate: { itemsPerPage:2, currentPage: page }">
      <div class="formulario">
        <div class="container-4">
          <div class="container-1">
            <div class="columna-1">
              <div class="form-group">
                <label for="">Numero de galpon:
                  <span style="color:red">*</span>
                </label> 
                <input type="number" disabled class="form-control" value="{{pollo.numero_galpon}}">
              </div>
              <div class="form-group">
                <label for="">
                  Cantidad de pollos:
                  <span style="color:red">*</span>
                </label>
                <input type="number" disabled class="form-control" value="{{pollo.numero_pollos}}">
              </div>
            </div>
            <div class="columna-1">
              <div class="form-group">
                <label for="">Peso al sacrificio:</label>
                <input type="number" disabled  class="form-control" value="{{pollo.peso_sacrificio}}">
              </div>
              <div class="form-group">
                <label for="">Muertes pre sacrificio:</label>
                <input type="number" disabled class="form-control" value="{{pollo.muerte_pre_sacrificio}}">
              </div>
            </div>
            <div class="form-group">
              <label for="">Vacunas y medicamentos:</label>
              <textarea name="textarea" disabled rows="6" cols="49" class="form-control" value="{{pollo.medicamentos}}">
              </textarea>
            </div>

          </div>
          <hr>
          <div class="container-2">
            <div class="columna-2">
              <div class="form-group">
                <label for="">Fecha de ingreso: <span style="color:red">*</span></label>
                <input type="date" disabled class="form-control" [ngModel]='date | date:"yyyy-MM-dd" '
                  (ngModelChange)='date=$event' value="{{pollo.fecha_ingreso}}">
              </div>
              <div class="form-group">
                <label for="">Fecha de egreso:</label>
                <input type="date" disabled class="form-control" value="{{pollo.fecha_egreso}}">
              </div>
            </div>
            <div class="form-group">
              <label for="" class="text-white">Observaciones:</label>
              <textarea name="textarea" disabled placeholder="observaciones" rows="6" cols="45" class="form-control"
                value="{{pollo.observaciones}}">
              </textarea>
            </div>
          </div>

        </div>
        <div  class="modal-footer">
          <a class="btn btn-md btn-warning" (click)="onEdit2(pollo) " (click)="open(mymodal)">
            <i class="far fa-edit"></i> editar
          </a>
          <a class="btn btn-md btn-danger" (click)="onDelete2(pollo.id)">
            <i class="far fa-trash-alt"></i> eliminar
          </a>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
    </div>

  </div>
</div>




<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar datos de galpon
      <div *ngIf="loading" class="spinner-border text-white float-end" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="editarPollo()">
    <div style="margin-left: 20px;">
      <h6>Los campos con <span style="color:red">*</span> son obligatorios</h6>
    </div>
    <div class="formulario-modal">
      <div class="container-1-modal">
        <div class="columna-1-modal">
          <div class="form-group">
            <label for="">Numero de galpon:
              <span style="color:red">*</span>
            </label>
            <input type="number" class="form-control" formControlName="numero_galpon">
          </div>
          <div class="form-group">
            <label for="" >
              Cantidad de pollos: 
              <span style="color:red">*</span>
            </label>
            <input type="number" class="form-control" formControlName="numero_pollos">
          </div>
        </div>
        <div class="columna-1-modal">
          <div class="form-group">
            <label for="" >Peso al sacrificio:</label>
            <input type="number" class="form-control" formControlName="peso_sacrificio">
          </div>
          <div class="form-group">
            <label for="" >Muertes pre sacrificio:</label>
            <input type="number" class="form-control" formControlName="muerte_pre_sacrificio">
          </div>
        </div>
        <div class="form-group">
          <label for="">Vacunas y medicamentos:</label>
          <textarea name="textarea" rows="6" cols="49" class="form-control"
            formControlName="medicamentos">
          </textarea>
        </div>
        
       </div>
      <hr>
      <div class="container-2-modal">
        <div class="columna-2-modal">
          <div class="form-group">
            <label for="">Fecha de ingreso: <span style="color:red">*</span></label>
            <input type="date" class="form-control" formControlName="fecha_ingreso" [ngModel]='date | date:"yyyy-MM-dd" '
              (ngModelChange)='date=$event'>
          </div>
          <div class="form-group">
            <label for="">Fecha de egreso:</label>
            <input type="date" class="form-control" formControlName="fecha_egreso">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="text-white">Observaciones:</label>
          <textarea name="textarea" placeholder="observaciones" rows="6" cols="45" class="form-control"
            formControlName="observaciones">
          </textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]="boton_enviar" type="submit" class="btn btn-danger">
        <i class="fas fa-plus-circle"></i> registrar
      </button>

    </div>
  </form>
</ng-template>