<body>
  

<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Usuario registrado</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">Se ha enviado un correo a: <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Por favor verifique el correo y haga ckick en el enlace.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Reenviar correo de verificación
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span class="redirect text-white" routerLink="/login">
          <i class="fas fa-arrow-circle-left"></i>
          Volver al login
        </span>
      </div>
    </div>
  </div>
</body>