<div class="container">
    <div class="card">
        <div class="header text-white" style="text-align: center;">
            <h1 >
              
              <h4 routerLink="../admin" style="float: left; cursor: pointer;  font-size: medium;" > 
                <i class="fas fa-arrow-circle-left"></i>   
                volver              
              </h4>  
             
                Galpon de codornices
                <div *ngIf="loading" class="spinner-border text-white float-end" role="status">
                    <span class="sr-only">Loading...</span>
                </div>     
                <a class="btn btn-md btn-info" (click)="open(modalReportes)">
                  <i class="far fa-file-alt"></i> Reportes
                </a>           
            </h1>
           
        </div>
        <div class="container-2" *ngFor="let codorniz of codornizList |paginate: { itemsPerPage:2, currentPage: page }">
          <div class="container-5">
            <div class="container-3">
                <div class="cont-2">
                    <div class="form-group">
                        <label for="">Fecha:<span class="text-white"></span></label>
                        <input type="date" class="form-control" disabled value="{{codorniz.fecha}}">
                    </div>
                    <div class="form-group">
                        <label for="">Cant de codornices:</label>
                        <input type="number" class="form-control" disabled value="{{codorniz.cantidad_codornices}}">
                    </div>
                    <div class="form-group">
                        <label for="">Alimento x unidad:</label>
                        <input type="number" class="form-control" disabled value="{{codorniz.alimento}}">
                    </div>
                </div>
                <div class="cont-2">
                    <div class="form-group">
                        <label for="">Vermifumigaciones:</label>
                        <!-- <input type="number" class="form-control" disabled value="{{codorniz.vermifumigaciones}}"> -->
                        <textarea placeholder="Vermifumigaciones y tratamientos"
                         rows="3" class="form-control" disabled value="{{codorniz.vermifumigaciones}}">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Observaciones:</label>
                        <textarea placeholder="observaciones" rows="3" class="form-control" disabled
                            value="{{codorniz.observaciones}}">
                        </textarea>
                    </div>
                </div>               
            </div>
            <div>
                <h6 class="text-center">Cantidad de huevos del lote</h6>
                <div class="container-4">
                    <div class="cont-1">
                        <div class="card2 text-center" style="align-items: center;">
                            lunes
                            <input type="number" class="form-control" disabled value="{{codorniz.lunes}}">
                        </div>
                        <div class="card2 text-center" style="align-items: center;">
                            Martes
                            <input type="number" class="form-control" disabled value="{{codorniz.martes}}">
                        </div>
                        <div class="card2 text-center" style="align-items: center;">
                            Miercoles
                            <input type="number" class="form-control" disabled value="{{codorniz.miercoles}}">
                        </div>
                    </div>
                    <div class="cont-1">
                        <div class="card2 text-center" style="align-items: center;">
                            Jueves
                            <input type="number" class="form-control" disabled value="{{codorniz.jueves}}">
                        </div>
                        <div class="card2 text-center" style="align-items: center;">
                            Viernes
                            <input type="number" class="form-control" disabled value="{{codorniz.viernes}}">
                        </div>
                        <div class="card2 text-center" style="align-items: center;">
                            Sabado
                            <input type="number" class="form-control" disabled value="{{codorniz.sabado}}">
                        </div>
                    </div>
                    <div class="card2 text-center" style="align-items: center;">
                        Domingo
                        <input type="number" class="form-control" disabled value="{{codorniz.domingo}}">
                    </div>
                </div>
            </div>
         </div>
         <div  class="modal-footer">          
            <a class="btn btn-md btn-warning" (click)="onEdit(codorniz) " (click)="open(modalCodornices)">
              <i class="far fa-edit"></i> editar
            </a>
            <a class="btn btn-md btn-danger" (click)="onDelete(codorniz.id)">                
              <i class="far fa-trash-alt"></i> eliminar
            </a>
          </div>
        </div>

        <div class="card-footer">
            <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
        </div>
    </div>
</div>



<!-- --------------------------Modal para codornices------------------------------------- -->
<ng-template #modalCodornices let-modal>
  <div class="modal-header">
    <div class="title">
      <h4 id="modal-basic-title">
        <i class="far fa-edit"></i>Editar datos de galpon
        <div *ngIf="loading" class="spinner-border text-white float-end" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </h4>
    </div>
    <div class="float-end ">
      <button type="button" class="close " aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span class="text-white" aria-hidden="true">x</span>
      </button>
    </div>
  </div>
    <form [formGroup]="form" (ngSubmit)="editarCodorniz()">
      <div style="margin-left: 20px;">
        <h6>Los campos con <span style="color:red">*</span> son obligatorios</h6>
      </div>
      <div class="formulario-modal">
        <div class="container-1-modal">
          <div class="columna-1-modal">
            <div class="form-group">
              <label for="">Fecha:<span style="color:red">*</span></label>
              <input type="date" class="form-control" formControlName="fecha">
            </div>
            <div class="form-group">
              <label for="">Cant de codornices:
               <span style="color:red">*</span>
              </label>
              <input type="number" class="form-control" formControlName="cantidad_codornices"
                placeholder="Cantidad de codornices">
            </div>
            <div class="form-group">
              <label for="">Alimento x unidad:</label>
              <input type="number" class="form-control" formControlName="alimento"
                placeholder="Cantidad de alimento x unidad">
            </div>
          </div><!-- Fin columna-1 -->
            <div class="form-group">
              <label for="" >Vermifumigaciones y tratamientos":</label>
              <textarea name="textarea" placeholder="vermifumigaciones y tratamientos" rows="6" cols="50" class="form-control"
              formControlName="vermifumigaciones">
            </textarea>
            </div>         
          </div><!-- fin container-1 -->
          <hr>
          <div class="flex-container-2-modal">
            <h6>Cantidad de huevos del lote</h6>        
            <div class="fila-1">
              <div class="card-modal text-center" style="align-items: center;">
                lunes
                <input type="text" class="form-control" formControlName="lunes" placeholder="">
              </div>
              <div class="card-modal text-center" style="align-items: center;">
                Martes
                <input type="text" class="form-control" formControlName="martes" placeholder="">
              </div>
              <div class="card-modal text-center" style="align-items: center;">
                Miercoles
                <input type="text" class="form-control" formControlName="miercoles" placeholder="">
              </div>
              <div class="card-modal text-center" style="align-items: center;">
                Jueves
                <input type="text" class="form-control" formControlName="jueves" placeholder="">
              </div>
            </div><!-- Fin fila-1 -->
            <div class="fila-1">
              <div class="card-modal text-center" style="align-items: center;">
                Viernes
                <input type="text" class="form-control" formControlName="viernes" placeholder="">
              </div>
              <div class="card-modal text-center" style="align-items: center;">
                Sabado
                <input type="text" class="form-control" formControlName="sabado" placeholder="">
              </div>
              <div class="card-modal  text-center" style="align-items: center;">
                Domingo
                <input type="text" class="form-control" formControlName="domingo" placeholder="">
              </div>
            </div><!-- Fin fila-1 -->
            <div class="form-group text-area-modal ">
              <label for="" >Observaciones:</label>
              <textarea name="textarea" placeholder="observaciones" rows="6" cols="50" class="form-control"
                formControlName="observaciones">
              </textarea>
            </div>
          </div>
          
        </div> <!-- fin formulario -->
      
      <div class="modal-footer">
        <button  type="submit" class="btn btn-danger">
          <i class="fas fa-plus-circle"></i> Guardar
        </button>   
  
      </div>
    </form>
  </ng-template>
  <!-- --------------------------Modal para codornices------------------------------------- -->

  
<!-- --------------------------Modal de Reportes  PDF------------------------------------- -->
<ng-template #modalReportes let-modal>
  <div class="modal-header">
    <div class="title">
      <h4 id="modal-basic-title">
        <i class="far fa-file-alt"></i> Reportes de galpon
        <div *ngIf="loading" class="spinner-border text-white float-end" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </h4>
    </div>
    <div class="float-end ">
      <button type="button" class="close " aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span class="text-white" aria-hidden="true">x</span>
      </button>
    </div>
  </div>  
    <div class="formulario-modal">
      <div class="container-1-modal" >
        <div class="columna-1-modal-reportes"><!--columna-1 -->
          <h3>Reporte de observaciones:</h3>
          
          <form [formGroup]="observacionesForm" (ngSubmit)="createPdf_observaciones()">
          <div class="form-group">
            <label for="">Desde:<span style="color:red">*</span></label>
            <input type="date" class="form-control" formControlName="fecha1" >
          </div>
          
          <div class="form-group">
            <label for="">Hasta:<span style="color:red">*</span></label>
            <input type="date" class="form-control" formControlName="fecha2">
          </div>
         
          <button  type="submit" class="btn btn-danger">
            <i class="fas fa-plus-circle"></i> Generar PDF
          </button>
          
        </form>
        </div><!-- Fin columna-1 -->
        
                 
        </div><!-- fin container-1 -->
        <hr>
        <div class="flex-container-2-modal">
          <div class="columna-1-modal-reportes"><!--columna-1 -->
            <h3>Reporte de cantidad de huevos:</h3>
            
            <form [formGroup]="observacionesForm" (ngSubmit)="createPdf_huevos()">
            <div class="form-group">
              <label for="">Desde:<span style="color:red">*</span></label>
              <input type="date" class="form-control" formControlName="fecha1" >
            </div>
            
            <div class="form-group">
              <label for="">Hasta:<span style="color:red">*</span></label>
              <input type="date" class="form-control" formControlName="fecha2">
            </div>
           
            <button  type="submit" class="btn btn-danger">
              <i class="fas fa-plus-circle"></i> Generar PDF
            </button>
            
          </form>
          </div><!-- Fin columna-1 -->
        </div>
        
      </div> <!-- fin formulario -->
    
   
</ng-template>
<!-- --------------------------Modal de Reportes  PDF------------------------------------- -->