<div class="container">
    <div class="card">
        <div class="header text-white" style="text-align: center;">
            <h1>Galpon de codornices </h1>
        </div>
        <div class="container-2" *ngFor="let codorniz of codornizList |paginate: { itemsPerPage:2, currentPage: page }">
            <div class="container-3">
                <div class="cont-2">
                    <div class="form-group">
                        <label for="">Fecha:<span class="text-white"></span></label>
                        <input type="date" class="form-control" value="{{codorniz.fecha}}">
                    </div>
                    <div class="form-group">
                        <label for="">Cant de codornices:</label>
                        <input type="number" class="form-control" value="{{codorniz.cantidad_codornices}}">
                    </div>
                    <div class="form-group">
                        <label for="">Alimento x unidad:</label>
                        <input type="number" class="form-control" value="{{codorniz.alimento}}">
                    </div>
                </div>
                <div class="cont-2">
                    <div class="form-group">
                        <label for="">Vermifumigaciones:</label>
                        <!-- <input type="number" class="form-control" value="{{codorniz.vermifumigaciones}}"> -->
                        <textarea placeholder="Vermifumigaciones y tratamientos"
                         rows="3" class="form-control" value="{{codorniz.vermifumigaciones}}">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Observaciones:</label>
                        <textarea placeholder="observaciones" rows="3" class="form-control"
                            value="{{codorniz.observaciones}}">
                        </textarea>
                    </div>
                </div>               
            </div>
            <div>
                <h6 class="text-center">Cantidad de huevos del lote</h6>
                <div class="container-4">
                    <div class="cont-1">
                        <div class="card2   text-center" style="align-items: center;">
                            lunes
                            <input type="text" class="form-control" value="{{codorniz.lunes}}">
                        </div>
                        <div class="card2 text-center" style="align-items: center;">
                            Martes
                            <input type="text" class="form-control" value="{{codorniz.martes}}">
                        </div>
                        <div class="card2 text-center" style="align-items: center;">
                            Miercoles
                            <input type="text" class="form-control" value="{{codorniz.miercoles}}">
                        </div>
                    </div>
                    <div class="cont-1">
                        <div class="card2 text-center" style="align-items: center;">
                            Jueves
                            <input type="text" class="form-control" value="{{codorniz.jueves}}">
                        </div>
                        <div class="card2 text-center" style="align-items: center;">
                            Viernes
                            <input type="text" class="form-control" value="{{codorniz.viernes}}">
                        </div>
                        <div class="card2 text-center" style="align-items: center;">
                            Sabado
                            <input type="text" class="form-control" value="{{codorniz.sabado}}">
                        </div>
                    </div>
                    <div class="card2 text-center" style="align-items: center;">
                        Domingo
                        <input type="text" class="form-control" value="{{codorniz.domingo}}">
                    </div>
                </div>
            </div>

        </div>

        <!-- <a class="btn btn-sm btn-secondary" (click)="onEdit2(gallina) " (click)="open(mymodal)"  >
                                <i class="far fa-edit"></i>    editar
                            </a> -->
        <div class="card-footer">
            <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
        </div>


    </div>
</div>
