<body>
  <div class="displayTable text-white">
    <h3>Recuperar clave</h3>
    <div class="displayTableCell">
      <div class="authBlock">
        <form #registerForm="ngForm" (ngSubmit)="recuperarClave(userName.value)"  >
          <div class="form-group form-primary group-material-login text-black">
            <input type="text" class="form-control material-login-control" #userName required>
            <span class="highlight-login"></span>
            <span class="bar-login"></span>
            <label class="usuario text-black">
              <i class="fas fa-user "></i> &nbsp;
              Correo electronico
            </label>
          </div>
                
          <button type="submit" class="btn btn-iniciar">
            Enviar 
            <div *ngIf="loading" class="spinner-border float-end" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </form>
        <div class="redirectToLogin">
          <span class="redirect text-white" routerLink="/login">
            <i class="fas fa-arrow-circle-left"></i>
            Volver al login
          </span>
        </div>
      </div>
    </div>
  </div>
</body>