<div class="flex-container">
    <div class="card">
        <div class="header text-white" style="text-align: center;">
            <h1>Lista de Galpones de ponedoras </h1>
        </div>
        <div class="table-container text-center"  style="font-size: smaller;">
            <table class="table table-responsive-md table-sm table-hover">
                <tbody>
                    <tr>
                        <td>Fecha</td>
                        <td>Cantidad de ponedoras  </td>
                        <td>Alimento x unidad</td>
                        <td>Vermifumigaciones</td>
                        
                    </tr>
                    <tr *ngFor="let gallina of gallinaList |paginate: { itemsPerPage:3, currentPage: page }">
                        <td>{{gallina.fecha}}</td>
                        <td>{{gallina.cantidad_ponedoras}}</td>
                        <td>{{gallina.alimento}}</td>
                        <td>{{gallina.vermifumigaciones}}</td>
                       
                        <td>
                            <!-- <a class="btn btn-sm btn-secondary" (click)="onEdit2(gallina) " (click)="open(mymodal)"  >
                                <i class="far fa-edit"></i>    editar
                            </a> -->
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls 
                                (pageChange)="page = $event"
                                previousLabel="Anterior"
                                nextLabel="Siguiente">
            </pagination-controls>
        </div>
    </div>