<div class="flex-container">
  <div class="contenedor" (click)="open(modalPollos)">
    <figure class="snip1566">
      <img src="assets/img/pollos.jpg">
    </figure>
    <div class="contenedor2">
      <i class="fas fa-plus-circle fa-2x"></i>
      <h5>&nbsp; Agregar galpón de pollos</h5>
    </div>
  </div>
  <div class="contenedor" (click)="open(modalGallinas)">
    <figure class="snip1566">
      <img src="assets/img/gallinas.jpg">
    </figure>
    <div class="contenedor2">
      <i class="fas fa-plus-circle fa-2x"></i>
      <h5>&nbsp; Registro de ponedoras</h5>
    </div>
  </div>
  <div class="contenedor" (click)="open(modalCodornices)">
    <figure class="snip1566">
      <img src="assets/img/codornices.jpg">
    </figure>
    <div class="contenedor2">
      <i class="fas fa-plus-circle fa-2x"></i>
      <h5>&nbsp; Registro de codornices</h5>
    </div>
  </div>
  <router-outlet> </router-outlet>
</div>
<!-- -------------------------------------------------------------------------- -->
<!---------------------------- Modal para pollos----------------------------------------->
<ng-template #modalPollos let-modal>
  <div class="modal-header">
    <div class="title">
      <h4 id="modal-basic-title">
        Nuevo Galpon
        <div *ngIf="loading" class="spinner-border text-white float-end" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </h4>
    </div>
    <div class="float-end ">
      <button type="button" class="close " aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span class="text-white" aria-hidden="true">x</span>
      </button>
    </div>
  </div>

  <form [formGroup]="formPollo" (ngSubmit)="onSubmitPollo()">
    <div style="margin-left: 20px;">
      <h6>Los campos con <span style="color:red">*</span> son obligatorios</h6>
    </div>
    <div class="formulario">
      <div class="container-1">
        <div class="columna-1">
          <div class="form-group">
            <label for="">Numero de galpon:
              <span style="color:red">*</span>
            </label>
            <input type="number" class="form-control" formControlName="numero_galpon">
          </div>
          <div class="form-group">
            <label for="" >
              Cantidad de pollos: 
              <span style="color:red">*</span>
            </label>
            <input type="number" class="form-control" formControlName="numero_pollos">
          </div>
        </div>
        <div class="columna-1">
          <div class="form-group">
            <label for="" >Peso al sacrificio:</label>
            <input type="number" class="form-control" formControlName="peso_sacrificio">
          </div>
          <div class="form-group">
            <label for="" >Muertes pre sacrificio:</label>
            <input type="number" class="form-control" formControlName="muerte_pre_sacrificio">
          </div>
        </div>
        <div class="form-group">
          <label for="">Vacunas y medicamentos:</label>
          <textarea name="textarea" rows="6" cols="49" class="form-control"
            formControlName="medicamentos">
          </textarea>
        </div>
        
       </div>
      <hr>
      <div class="container-2">
        <div class="columna-2">
          <div class="form-group">
            <label for="">Fecha de ingreso: <span style="color:red">*</span></label>
            <input type="date" class="form-control" formControlName="fecha_ingreso" [ngModel]='date | date:"yyyy-MM-dd" '
              (ngModelChange)='date=$event'>
          </div>
          <div class="form-group">
            <label for="">Fecha de egreso:</label>
            <input type="date" class="form-control" formControlName="fecha_egreso">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="text-white">Observaciones:</label>
          <textarea name="textarea" placeholder="observaciones" rows="6" cols="45" class="form-control"
            formControlName="observaciones">
          </textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]="formPollo.invalid" type="submit" class="btn btn-danger">
        <i class="fas fa-plus-circle"></i> registrar
      </button>

      <!-- <button type="reset" class="btn btn-info" 
                        (click)="resetForm(polloForm)" style="margin-top: 10px; margin-left: 3px; ">
                    <i class="fas fa-eraser"></i>Borrar selección
                </button> -->
    </div>
  </form>
</ng-template>
<!---------------------------- Modal para pollos----------------------------------------->


<!-- --------------------------Modal para gallinas------------------------------------- -->
<ng-template #modalGallinas let-modal>
  <div class="modal-header text-white">
    <h4 class="modal-title title" id="modal-basic-title">Nuevo registro semanal(Ponedoras)
      <div *ngIf="loading" class="spinner-border text-white float-end" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span class="text-white" aria-hidden="true">x</span>
    </button>
  </div>
  <form [formGroup]="formGallina" (ngSubmit)="onSubmitGallina()">
    <div style="margin-left: 20px;">
      <h6>Los campos con <span style="color:red">*</span> son obligatorios</h6>
    </div>
    <div class="formulario">
      <div class="container-1">
        <div class="columna-1">
          <div class="form-group">
            <label for="">Fecha:<span style="color:red">*</span></label>
            <input type="date" class="form-control" formControlName="fecha" [ngModel]='date | date:"yyyy-MM-dd" '
              (ngModelChange)='date=$event'>
          </div>
          <div class="form-group">
            <label for="">Cant de ponedoras:
             <span style="color:red">*</span>
            </label>
            <input type="number" class="form-control" formControlName="cantidad_ponedoras"
              placeholder="Cantidad de ponedoras">
          </div>
          <div class="form-group">
            <label for="">Alimento x unidad:</label>
            <input type="number" class="form-control" formControlName="alimento"
              placeholder="Cantidad de alimento x unidad">
          </div>
        </div><!-- Fin columna-1 -->
          <div class="form-group">
            <label for="" >Vermifumigaciones:</label>
            <textarea name="textarea" placeholder="vermifumigaciones y tratamientos" rows="6" cols="50" class="form-control"
            formControlName="vermifumigaciones">
          </textarea>
          </div>         
        </div><!-- fin container-1 -->
        <hr>
        <div class="flex-container-2">
          <h6>Cantidad de huevos del lote</h6>        
          <div class="fila-1">
            <div class="card   text-center" style="align-items: center;">
              lunes
              <input type="text" class="form-control" formControlName="lunes" placeholder="">
            </div>
            <div class="card  text-center" style="align-items: center;">
              Martes
              <input type="text" class="form-control" formControlName="martes" placeholder="">
            </div>
            <div class="card  text-center" style="align-items: center;">
              Miercoles
              <input type="text" class="form-control" formControlName="miercoles" placeholder="">
            </div>
            <div class="card  text-center" style="align-items: center;">
              Jueves
              <input type="text" class="form-control" formControlName="jueves" placeholder="">
            </div>
          </div><!-- Fin fila-1 -->
          <div class="fila-1">
            <div class="card  text-center" style="align-items: center;">
              Viernes
              <input type="text" class="form-control" formControlName="viernes" placeholder="">
            </div>
            <div class="card  text-center" style="align-items: center;">
              Sabado
              <input type="text" class="form-control" formControlName="sabado" placeholder="">
            </div>
            <div class="card  text-center" style="align-items: center;">
              Domingo
              <input type="text" class="form-control" formControlName="domingo" placeholder="">
            </div>
          </div><!-- Fin fila-1 -->
          <div class="form-group text-area">
            <label for="" >Observaciones:</label>
            <textarea name="textarea" placeholder="observaciones" rows="6" cols="50" class="form-control"
              formControlName="observaciones">
            </textarea>
          </div>
        </div>
        
      </div> <!-- fin formulario -->
    
    
    <div class="modal-footer">
      <button [disabled]="formGallina.invalid" type="submit" class="btn btn-danger">
        <i class="fas fa-plus-circle"></i> registrar
      </button>


      <!-- <button type="reset" class="btn btn-info" 
          (click)="resetForm(polloForm)" style="margin-top: 10px; margin-left: 3px; ">
      <i class="fas fa-eraser"></i>Borrar selección
  </button> -->

    </div>
  </form>
</ng-template>
<!-- --------------------------Modal para gallinas------------------------------------- -->

<!-- --------------------------Modal para codornices------------------------------------- -->
<ng-template #modalCodornices let-modal>
  <div class="modal-header">
    <h4 class="modal-title title" id="modal-basic-title">Nuevo registro semanal(Codornices)
      <div *ngIf="loading" class="spinner-border text-white float-end" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span class="text-white" aria-hidden="true">x</span>
    </button>
  </div>
  <form [formGroup]="formCodorniz" (ngSubmit)="onSubmitCodorniz()">
    <div style="margin-left: 20px;">
      <h6>Los campos con <span style="color:red">*</span> son obligatorios</h6>
    </div>
    <div class="formulario">
      <div class="container-1">
        <div class="columna-1">
          <div class="form-group">
            <label for="">Fecha:<span style="color:red">*</span></label>
            <input type="date" class="form-control" formControlName="fecha" [ngModel]='date | date:"yyyy-MM-dd" '
              (ngModelChange)='date=$event'>
          </div>
          <div class="form-group">
            <label for="">Cant de codornices:
             <span style="color:red">*</span>
            </label>
            <input type="number" class="form-control" formControlName="cantidad_codornices"
              placeholder="Cantidad de codornices">
          </div>
          <div class="form-group">
            <label for="">Alimento x unidad:</label>
            <input type="number" class="form-control" formControlName="alimento"
              placeholder="Cantidad de alimento x unidad">
          </div>
        </div><!-- Fin columna-1 -->
          <div class="form-group">
            <label for="" >Vermifumigaciones:</label>
            <textarea name="textarea" placeholder="vermifumigaciones y tratamientos" rows="6" cols="50" class="form-control"
            formControlName="vermifumigaciones">
          </textarea>
          </div>         
        </div><!-- fin container-1 -->
        <hr>
        <div class="flex-container-2">
          <h6>Cantidad de huevos del lote</h6>        
          <div class="fila-1">
            <div class="card   text-center" style="align-items: center;">
              lunes
              <input type="text" class="form-control" formControlName="lunes" placeholder="">
            </div>
            <div class="card  text-center" style="align-items: center;">
              Martes
              <input type="text" class="form-control" formControlName="martes" placeholder="">
            </div>
            <div class="card  text-center" style="align-items: center;">
              Miercoles
              <input type="text" class="form-control" formControlName="miercoles" placeholder="">
            </div>
            <div class="card  text-center" style="align-items: center;">
              Jueves
              <input type="text" class="form-control" formControlName="jueves" placeholder="">
            </div>
          </div><!-- Fin fila-1 -->
          <div class="fila-1">
            <div class="card  text-center" style="align-items: center;">
              Viernes
              <input type="text" class="form-control" formControlName="viernes" placeholder="">
            </div>
            <div class="card  text-center" style="align-items: center;">
              Sabado
              <input type="text" class="form-control" formControlName="sabado" placeholder="">
            </div>
            <div class="card  text-center" style="align-items: center;">
              Domingo
              <input type="text" class="form-control" formControlName="domingo" placeholder="">
            </div>
          </div><!-- Fin fila-1 -->
          <div class="form-group text-area">
            <label for="" >Observaciones:</label>
            <textarea name="textarea" placeholder="observaciones" rows="6" cols="50" class="form-control"
              formControlName="observaciones">
            </textarea>
          </div>
        </div>
        
      </div> <!-- fin formulario -->
    
    <div class="modal-footer">
      <button [disabled]="formCodorniz.invalid" type="submit" class="btn btn-danger">
        <i class="fas fa-plus-circle"></i> registrar
      </button>


      <!-- <button type="reset" class="btn btn-info" 
            (click)="resetForm(polloForm)" style="margin-top: 10px; margin-left: 3px; ">
        <i class="fas fa-eraser"></i>Borrar selección
    </button> -->

    </div>
  </form>
</ng-template>
<!-- --------------------------Modal para codornices------------------------------------- -->